.top{
    background-image: url(images/background.jpg); 
    background-size: cover; 
    width: 100%;
    height: 100vh;

}
    
#topHeader{       
        display: flex;    
    padding-bottom: 1px;    
    padding-top: 15%;
}
.header{    
    color:white; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;          
    height: 30%;    
}
.heading{
    font-family:'Lucida Sans';   
    width: 100%;
    text-align: center;   
}

.icon{
    color: aliceblue;
    font-size: 25px;      
    
}
.main{
    border: 2px solid #fdffcd;
    font-family:'Lucida Sans';
    color: #fff;
    background-image: url(images/middle.jpg);
    background-size: cover;
    
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 10pt;
    

    
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding-left: 5px;
    padding-right: 5px;
    
    
  }
  
  .column-level {
   
    height: 100%;
    border-width: 3px;
    border-color:#f8f398;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;    
    
    
  } 
  
/* .column-level a{
    color: #fff;
    font-size: 10px;
    font-family:'Lucida Sans';          
} */
.ele{
    margin-top: 5%;
    text-align: center;
    height: 100%;   
}
.eletext{
    text-align: center;
    margin: 10%;
    color: #fff;
    font-size: 15px;
    font-family:'Lucida Sans'; 

}
.eletext a{
    color: #fff;
    font-size: 15px;
    font-family:'Lucida Sans';
}
img{
    width: 80%;
    height: 80%;   
}
.pulse{    
    width:100%;
    text-align: center;    
    animation: pulse 3s infinite; 
}
@keyframes pulse{
    0%{
        transform: translateY(0px)
    }
    100%{        
        transform: translateY(15px)
    }

    }

    .navbar {
        margin-top: 10px;        
        padding-top: 5px;
        padding-right: 5px; 
        padding-bottom: 5px;    
        height: 50px;
        width: 100%;
        display:flex;
        justify-content: flex-end;
    }
    .nav{
        display: flex;    
        justify-content: space-around;    
        width: 70%;    
        align-items: center;     
    }
    button{
        background-color:#2a2438;  
        color: #ffe9e3;      
        width: 160px;
        height:40px;
        text-align: center;
        transition-duration: 0.4s;    
        font-size: 15px;
        font-weight:bolder;
        border: 7px solid #352f44;    
        font-family:'Lucida Sans'; 
      }
      button:hover{
        background-color: #ffe9e3;
        color: #352f44;
    }
    img:hover{
        border: 1px solid #f8f398;
    }